<!DOCTYPE html>
<html>
<head>
	<title>Management</title>
		<link rel="stylesheet" href="/Mange.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="text-align: center;">
	
  <div id="list">
  <h2 style="background-color: red;  color: white; border-radius: 5px; padding: 3px;">LIST OF USERS</h2>

    <ul>
    <li style="list-style: none; padding:2px;"><button class="btn btn-success" style="width: 350px"><span style="float: left">NAME</span><span style="float: right;">CREDIT</span></button></li>
  </ul>

<ul>
<% for(var i=0; i<men.length; i++) {%>
      <li style="list-style: none; padding:2px;" >
    <a href="/usercut/<%= men[i]._id%>/<%=amounttocut%>/<%=fromid%>" class="btn btn-primary" id="listitem" style="width:350px"><span style="float: left;"><%= men[i].name %></span>   <span style="float: right; color: red; font-size:22px"> <%=men[i].Credit%></span></a></li>
<% } %>
</form>
</ul>
</div>


</body>
</html>